<app-header content="WELCOME TO THE STAR WARS API"></app-header>
<div class="container px-3 mx-auto gap-5 grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1" *ngIf="dataStarWars">
  <app-card class="bg-rose-600 rounded-md" linkRoutes="people" starWarsApi="{{dataStarWars.people}}" category="People"></app-card>
  <app-card class="bg-lime-600 rounded-md" linkRoutes="planets" starWarsApi="{{dataStarWars.planets}}" category="Planets"></app-card>
  <app-card class="bg-orange-600 rounded-md" linkRoutes="films" starWarsApi="{{dataStarWars.films}}" category="Films"></app-card>
  <app-card class="bg-cyan-600 rounded-md" linkRoutes="species" starWarsApi="{{dataStarWars.species}}" category="Species"></app-card>
  <app-card class="bg-pink-600 rounded-md" linkRoutes="vehicles" starWarsApi="{{dataStarWars.vehicles}}" category="Vehicles"></app-card>  
  <app-card class="bg-yellow-600 rounded-md" linkRoutes="starships" starWarsApi="{{dataStarWars.starships}}" category="Starships"></app-card>
</div>
