<app-header content="WELCOME TO THE STAR WARS API"></app-header>
<div class="container mx-auto gap-5 grid grid-cols-3 grid-rows-2 " *ngIf="dataStarWars">
  <app-card class="bg-rose-600" linkRoutes="people" starWarsApi="{{dataStarWars.people}}" category="People"></app-card>
  <app-card class="bg-lime-600" linkRoutes="planets" starWarsApi="{{dataStarWars.planets}}" category="Planets"></app-card>
  <app-card class="bg-orange-600" linkRoutes="films" starWarsApi="{{dataStarWars.films}}" category="Films"></app-card>
  <app-card class="bg-cyan-600" linkRoutes="species" starWarsApi="{{dataStarWars.species}}" category="Species"></app-card>
  <app-card class="bg-pink-600" linkRoutes="vehicles" starWarsApi="{{dataStarWars.vehicles}}" category="Vehicles"></app-card>  
  <app-card class="bg-yellow-600" linkRoutes="starships" starWarsApi="{{dataStarWars.starships}}" category="Starships"></app-card>
</div>
