<app-header content="STAR WARS PEOPLE"></app-header>
<div class="container mx-auto grid gap-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1" >
  <div class="hover:bg-rose-800 mx-auto w-3/5 p-4 bg-rose-600 flex flex-col justify-center items-center rounded-md" *ngFor="let dataStarWars of dataSource">
    <h1 class="text-white font-semibold">Name: {{dataStarWars.name}}</h1>
    <h3 class="text-white font-semibold">Height: {{dataStarWars.height}}</h3>
    <h3 class="text-white font-semibold">Mass: {{dataStarWars.mass}}</h3>
    <h3 class="text-white font-semibold">Hair_color: {{dataStarWars.hair_color}}</h3>
    <h3 class="text-white font-semibold">Skin_color: {{dataStarWars.skin_color}}</h3>
    <h3 class="text-white font-semibold">Eye_color: {{dataStarWars.eye_color}}</h3>
    <h3 class="text-white font-semibold">Birth_year: {{dataStarWars.birth_year}}</h3>
    <h3 class="text-white font-semibold">Gender: {{dataStarWars.gender}}</h3>
    <h3 class="text-white font-semibold">Homeworld: {{dataStarWars.homeworld}}</h3>
  </div>
</div>

